:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 89px;
  gap: 3px;
  /* position: absolute; */
  /* width: 100vh; */
  height: 816px;
  top: 31px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.stages-links {
  height: 40px;
  width: 126px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.stages-links:hover {
  border-color: #646cff;
}
.stages-links:focus,
.stages-links:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.listEtaps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #020246;
    color: white;
  }
  button:disabled {
    background-color: #686b6f;
    cursor: not-allowed;
  }
}

.up-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1223px;
  height: 320px;
}

.down-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1223px;
  height: 320px;
}

.middle-container {
  display: flex;
  justify-content: flex-start;
  width: 1223px;
  margin-top: 40px;
  padding-top: 30px;
}

.greetingsContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 32px;
  gap: 30px;
  width: 796px;
  height: 320px;

  background: linear-gradient(89.82deg, #687ec9 1.25%, #5971c3 98.38%);
  /* Shadow field */
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
  border-radius: 31.2294px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 387px;
  height: 380px;
  border-color: #535bf2;
  border-style: solid;
  border-radius: 31.2294px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buddy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 39px 0px;
  gap: 23px;
  width: 387px;
  height: 380px;
  border-color: #535bf2;
  border-style: solid;
  border-radius: 31.2294px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h1 {
  margin-top: 2px;
}

h2 {
  text-align: end;
}

.stages-container {
  border-color: #535bf2;
  border-style: solid;
  border-radius: 31.2294px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 796px;
  height: fit-content;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stages-bloks {
  display: flex;
  flex-direction: column;
}

img {
  width: 30px;
  height: 30px;
  color: crimson;
  /* cursor: pointer; */
  filter: invert(93%) sepia(99%) saturate(5630%) hue-rotate(246deg)
    brightness(111%) contrast(148%);
}

/* img:hover {
  width: 30px;
  height: 30px;
  color: crimson;
  cursor: pointer;
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(246deg)
    brightness(111%) contrast(148%);
} */

/* .etaps:hover {
  color: #747bff;
} */

.etaps,
.title-etaps {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin: 10px;
  width: 696px;
  height: 28px;

  background: #d7baba;
  color: black;
  /* Shadow field */
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
  border-radius: 24px;
}

.title-etaps {
  background: none;
  border-radius: none;
  box-shadow: none;
}
