:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-1: #020246;
  --primary-2: #ffcde4;
  --secondary-1: #eff0f7;
  --secondary-2: #d3d3d3;
  --active: #46ad2c;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 89px;
  gap: 3px;
  /* position: absolute; */
  /* width: 100vh; */
  height: 816px;
  top: 31px;
  background: radial-gradient(50% 66.49% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 255, 194, 0.15) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.stages-links {
  height: 40px;
  width: 126px;

  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-1);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.stages-links:hover {
  border-color: var(--secondary-1);
}

.stages-links:disabled {
  border-color: var(--secondary-1);
  color: var(--primary-1);
}

.stages-links:focus,
.stages-links:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.listEtaps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #020246;
    color: white;
  }
  button:disabled {
    background-color: var(--primary-2);
    cursor: not-allowed;
  }
}

.up-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1223px;
  height: 320px;
}

.account-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 387px;
}

.dashboard-logout-btn {
  background-image: url("/src/assets/pliki\ svg-\ dashboard/logout-svgrepo-com.svg");
  background-size: cover;
  background-color: white;
  width: 40px;
  height: 30px;
}

.down-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  width: 1223px;
  height: 320px;
}

.middle-container {
  display: flex;
  justify-content: flex-start;
  width: 1223px;
  margin-top: 40px;
  padding-top: 30px;
}

.greetingsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 30px;
  width: 696px;
  height: fit-content;
  background: linear-gradient(89.82deg, #687ec9 1.25%, #5971c3 98.38%);

  /* Shadow field */
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
  border-radius: 31.2294px;
  /* overflow: hidden; */
}

.img-block {
  width: fit-content;
  display: flex;
}

.man-greetins-logo {
  width: 244px;
  height: 244px;
  filter: none;
}

.greeting-block {
  height: auto;
}

.dashboard-greeting {
  height: auto;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 387px;
  height: fit-content;
  box-shadow: rgb(0 0 0 / 15%) 4px 5px 10px;
  border-radius: 31.2294px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buddy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 39px 0px;
  gap: 23px;
  width: 387px;
  height: fit-content;
  box-shadow: rgb(0 0 0 / 15%) 4px 5px 10px;
  border-radius: 31.2294px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h1 {
  margin-top: 2px;
}

h2 {
  text-align: end;
}

.stages-container {
  border-radius: 31.2294px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 696px;
  height: fit-content;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stages-bloks {
  display: flex;
  flex-direction: column;
}

img {
  width: 30px;
  height: 30px;
  color: crimson;
  /* cursor: pointer; */
  filter: invert(93%) sepia(10%) saturate(5630%) hue-rotate(246deg) brightness(40%) contrast(148%) hue-rotate(246deg);
}

/* img:hover {
  width: 30px;
  height: 30px;
  color: crimson;
  cursor: pointer;
  filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(246deg)
    brightness(111%) contrast(148%);
} */

/* .etaps:hover {
  color: #747bff;
} */

.etaps,
.title-etaps {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin: 10px;
  width: 596px;
  height: 28px;

  /* background: #687ec9; */
  color: var(--primary-1);
  /* Shadow field */

  box-shadow: rgb(0 0 0 / 15%) 4px 5px 10px;
  border-radius: 31.2294px;
}

.title-etaps {
  background: none;
  border-radius: none;
  box-shadow: none;
}

.confirmButton {
  width: 35%;

  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 60px;
  height: 60px;
  color: auto;
  filter: none;
}

@media only screen and (max-width: 950px) {
  .confirmButton {
    width: 35%;
  }

  .listEtaps {
    gap: 1rem;
  }

  .stages-links {
    width: 70px;
  }

  .title-etaps {
    padding: 2px;
    margin: 4px;
  }

  .contentWrap {
    align-items: center;
  }
}

@media only screen and (max-width: 640px) {
  .confirmButton {
    width: 55%;
  }

  .listEtaps {
    gap: 0.5rem;
  }

  .stages-links {
    width: 70px;

    padding-left: 0.2em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .title-etaps {
    padding: 2px;
    margin: 4px;
  }

  .contentWrap {
    align-items: center;
  }
}
