@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.lightmode {
  --primary-1: #020246;
  --primary-2: #ffcde4;
  --secondary-1: #eff0f7;
  --secondary-2: #d3d3d3;
  --active: #46ad2c;
  --secondary-3: #4a4a7b;
  --white: #fff;
}

.darkmode {
  --primary-1: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-1: #020246;
  --primary-2: #ffcde4;
  --secondary-1: #eff0f7;
  --secondary-2: #d3d3d3;
  --secondary-3: #4a4a7b;
  --active: #46ad2c;

  background-color: var(--secondary-1);
}

a {
  font-weight: 500;
  color: var(--primary-1);
  text-decoration: inherit;
}

a:hover {
  font-weight: 800;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0px 89px; */
  gap: 3px;
  /* position: absolute; */
  /* width: 100vh; */
  /* height: 100%; */
  top: 31px;
  /* background: radial-gradient(50% 66.49% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 255, 194, 0.15) 100%); */
  margin: 0px;
}

html {
  height: 100%;
  background: radial-gradient(50% 66.49% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 255, 194, 0.15) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 2px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-1);
  color: var(--primary-2);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  opacity: 0.7;
}

.stages-links {
  height: 40px;
  width: 126px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-1);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  filter: none;
}

.stages-links:hover {
  opacity: 0.7;
  /* filter: brightness(0) saturate(100%) invert(5%) sepia(80%) saturate(6202%)
    hue-rotate(240deg) brightness(74%) contrast(105%); */
}

.stages-links:disabled {
  border-color: var(--secondary-1);
  cursor: not-allowed;
}

.stages-links:focus,
.stages-links:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.listEtaps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button:disabled {
  background-color: var(--primary-2);
  color: var(--secondary-1);
  cursor: not-allowed;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #020246;
    color: white;
  }

} */

.up-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin-top: 30px;
  width: 1223px;
  height: 320px;
}

.down-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  width: 1223px;
  height: fit-content;
}

.middle-container {
  display: flex;
  justify-content: flex-start;
  width: 1223px;
  margin-top: 40px;
  padding-top: 30px;
}

.greetingsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 30px;
  width: 696px;
  height: fit-content;
  background: linear-gradient(89.82deg, #687ec9 1.25%, #5971c3 98.38%);
  color: #ffffff;
  /* Shadow field */
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
  border-radius: 31.2294px;
  /* overflow: hidden; */
}

.img-block {
  width: fit-content;
  display: flex;
}

.man-greetins-logo {
  width: 244px;
  height: 244px;
  filter: none;
}

.greeting-block {
  height: auto;
}

.dashboard-greeting {
  height: auto;
}

h2 {
  text-align: end;
}

img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* filter: invert(93%) sepia(10%) saturate(5630%) hue-rotate(246deg) brightness(40%) contrast(148%) hue-rotate(246deg); */
}

.etaps,
.title-etaps {
  /* cursor: pointer; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  margin: 5px;
  width: 646px;
  height: 58px;

  background: #ffffff;
  color: var(--primary-1);

  /* Shadow field */

  box-shadow: rgb(0 0 0 / 15%) 4px 5px 10px;
  border-radius: 31.2294px;
}

.title-etaps {
  background: none;
  border-radius: none;
  box-shadow: none;
  color: #fff;
}

.stages-links[style*="background-color: var(--primary-2)"] .title-etaps {
  color: var(--primary-1);
}

.confirmButton {
  width: 35%;

  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 60px;
  height: 60px;
  color: auto;
  filter: none;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}

.ModalIntro {
  display: flex;
  background-color: white;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);

  z-index: 5;
}

@media only screen and (max-width: 1160px) {
  .confirmButton {
    width: 35%;
  }

  .listEtaps {
    gap: 1rem;
  }

  .stages-links {
    width: 70px;
  }

  .title-etaps {
    padding: 2px;
    margin: 4px;
  }

  .contentWrap {
    align-items: center;
  }
}

@media only screen and (max-width: 740px) {
  .confirmButton {
    width: 55%;
  }

  .listEtaps {
    gap: 0.5rem;
  }

  .stages-links {
    width: 70px;

    padding-left: 0.2em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .title-etaps {
    padding: 2px;
    margin: 4px;
  }

  .contentWrap {
    align-items: center;
  }
}
